.app {
  background-color: var(--color-white);
  max-width: 900px;
  margin: 3rem auto;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
  }
}

.nav {
  background-color: var(--color-grey-very-dark);
  color: var(--color-white);
  padding: 1rem 0;
  display: flex;
  justify-content: center;
}

.configs {
  display: flex;
  justify-content: space-between;

  &__btn {
    transition: all 0.2s;

    span {
      transition: all 0.2s;
    }
    &:hover {
      color: var(--color-grey-very-dark);
      span {
        margin-left: 0.5rem;
      }
    }
  }
}

.tasksList {
  height: 50rem;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: var(--color-grey-light);
}

.form {
  height: 12rem;
  padding: 0.5rem;
  display: grid;
  grid-template-rows: 1fr 2fr 2fr;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    'head  head  head   head'
    'title title prio   date'
    'confirm confirm cancel cancel';

  background-color: var(--color-grey-very-dark);
  color: var(--color-grey-very-dark);
  gap: 0.5rem;

  input,
  select {
    font-size: 1.6rem;
    padding: 0 1rem;
    height: 100%;
    border: none;
    outline: none;
    appearance: none;

    &:focus {
      border: 1px solid var(--color-grey-dark);
    }

    font-family: inherit;
    color: var(--color-grey-very-dark);
  }

  &__header {
    grid-area: head;
    text-align: center;
    color: var(--color-white);
  }

  &__title {
    grid-area: title;

    &::placeholder {
      color: var(--color-grey-very-dark);
    }
  }

  &__select {
    grid-area: prio;

    select {
      width: 100%;
    }

    &.high select {
      background-color: var(--color-red);
    }

    &.high svg {
      fill: var(--color-red);
    }

    &.med select {
      background-color: var(--color-orange);
    }

    &.med svg {
      fill: var(--color-orange);
    }

    &.low select {
      background-color: var(--color-green);
    }

    &.low svg {
      fill: var(--color-green);
    }
  }

  &__date {
    grid-area: date;
  }

  &__date,
  &__select {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--color-white);
  }

  &__btn {
    background-color: var(--color-grey-dark);
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;

    svg {
      fill: var(--color-white);
      width: 3rem;
      height: 3rem;
    }

    span {
      font-size: 2rem;
      font-family: var(--font-primary);
      font-weight: 200;
      margin-left: 1rem;
    }

    &:hover {
      background-color: var(--color-grey-light);
      color: var(--color-black);

      svg {
        fill: var(--color-black);
      }
    }

    &--cancel {
      grid-area: cancel;
    }

    &--confirm {
      grid-area: confirm;
    }
  }
}
